.contact{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.contact_left{
    /* position: relative; */
    /* margin: 40px; */
}

.contact_left > h3{
    padding-bottom: 20px;
}

.container{
    position:relative;
    /* left:20px; */
  }
  
  .icon-holder{
    border-radius:50%;
    font-size:20px;
    padding:15px 20px;
    color:white;
    cursor:pointer;
    margin-right:10px;
    }
  
  .fab{
    padding: 20px;
    font-size:32px;
    background:#F50057;
    box-shadow:0 6px 20px rgba(0,0,0,0.7);
  }
  
  
  .icon-holder:hover{
    opacity:0.8;
  }
  
  .sm-list{
    display:flex;
    list-style-type:none;
    position:absolute;
    top:6px;
    left:80px;
    opacity: 0;
    transition: all 0.4s ease;
    transform: scale(0);
    transform-origin: left;
    
   }
  
  .fab:hover + .sm-list, .sm-list:hover{
    opacity: 1;
    transform: scale(1);
  }
  
  .link{
    text-decoration:none;
    color:white;
  }
  
  .facebook{
    background: #3B5998;
  }
  
  .linkedin{
    background: #007bb5;
  }
  
  .instagram{
    background: #125688;
  }
  
  .twitter{
    background: #00aff0;;
  }

  /* form to contact */

  .form_name, .form_email, .form_message{
    display: flex;
    flex-direction: column;
  }

  .form_input{
    padding: 10px 50px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 500px;
    outline: none;
    border: none;
  }

  .form_message > textarea{
    height: 120px;
  } 

.form_button{
  text-align: center;
  margin-bottom: 40px;
}

.form_button > button {
  border: none;
  background-color: #F50057;
  padding: 10px 40px;
  border-radius: 5px;
  /* width: 150px; */
  font-size: 18px;
  cursor: pointer;
}

.form_button > button:hover{
  opacity: 0.5;
  color: white;
}
  
  
  
  
  